
<div class='ab'>
<h4>Different investment Philosophies at a Glance</h4>
</div>


<% @articles.each do |article| %>
<ul>
    <ul>About: <%= article.title %></ul>
    <ul>Investment philosophy: <%= article.about%></ul>
    <div class='image'>
    <ul><%= image_tag article.image %></ul>
    </div>
</ul>
<% end %>

