<h4>Different investment Philosophies at a Glance</h4>

<% @articles.each do |article| %>
<ul>
    <li>Title: <%= article.title %></li>
    <li>Portfolio amount: <%= article.title %></li>
    <li>Investment: <%= article.about%></li>
    <li><%= image_tag article.image %></li>
</ul>
<% end %>


