<h1>Different Investment Philosophies</h1>

<div class=container>
    <p>
        <%= @articles.title %>
        <%= @articles.about %>
        <%# <img src="..." class="rounded float-left" alt="..."> %>
        <%= image_tag @articles.image %>
    </p>
</div>


