
<% @stocks.each do |stocks| %>
<ul>
    <li>Name: <%= stocks.name %></li>
    <li>History: <%= stocks.history %></li>
    <li>Currently whats happening: <%= stocks.current%></li>
    <li>Potential: <%= stocks.potential %></li>
</ul>
<% end %>

