<h1>Stock Information<h1>

<p>Here's your stock information <%= @current_user if @current_user.present? ></p>

<form action="/stocks/info">
    <label>
        Stock symbol:
            <input name="symbol" placeholder="GOOG" required autofocus>
    <label>

    <button>Search</button>