.image {
    width: 100%;
}

.stocks {
    width: 180px;
}

.buttonRight {
    display: block;
    margin: 0 auto;
}

img {
    width: 30%;
}

.ab {
    margin:50px 0 10px 50px;
}

.bc {
    margin-top: 50px;
}

.c {
    margin-top: 50px;
}
.aa {
    margin-top: 50px;
}

